<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Malnati_PDS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Malnati_PDS.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>Nino</value>
            </setting>
            <setting name="Profile_Image" serializeAs="String">
                <value>Sconosciuto.png</value>
            </setting>
            <setting name="Incognito" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Request" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscoverySelf" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequestPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DropFile" serializeAs="String">
                <value>False</value>
            </setting>
        </Malnati_PDS.Properties.Settings>
    </userSettings>
</configuration>