<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net45" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.3.0.823" targetFramework="net45" />
  <package id="SharpShell" version="2.2.0.0" targetFramework="net45" />
</packages>